/*!
 * Bootstrap v2.3.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

img {
    max-width:100%;
    width:auto\9;
    height:auto;
    vertical-align:middle;
    /*border:0;*/
    /*-ms-interpolation-mode:bicubic;*/
}
